GUIEscritorioSGA/Connected Services/ServiceProducto/WebServiceProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Buscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarResult" type="tns:MDProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MDProducto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoProducto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarAll">
        <s:complexType />
      </s:element>
      <s:element name="BuscarAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAllResult" type="tns:ArrayOfMDProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMDProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MDProducto" nillable="true" type="tns:MDProducto" />
        </s:sequence>
      </s:complexType>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWithValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_tipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWithValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertWithValuesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuevoProducto" type="tns:MDProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWithValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_tipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWithValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateWithValuesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editableProducto" type="tns:MDProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadProductoDifferencia">
        <s:complexType />
      </s:element>
      <s:element name="GetCantidadProductoDifferenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadProductoDifferenciaResult" type="tns:ArrayOfDProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDProductoCantidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DProductoCantidad" nillable="true" type="tns:DProductoCantidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DProductoCantidad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCantidadProductoDifferenciaByBodega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_bodega" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadProductoDifferenciaByBodegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadProductoDifferenciaByBodegaResult" type="tns:ArrayOfDProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadProductoEntrada">
        <s:complexType />
      </s:element>
      <s:element name="GetCantidadProductoEntradaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadProductoEntradaResult" type="tns:ArrayOfDProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadProductoEntradaByBodega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_bodega" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadProductoEntradaByBodegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadProductoEntradaByBodegaResult" type="tns:ArrayOfDProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadProductoSalida">
        <s:complexType />
      </s:element>
      <s:element name="GetCantidadProductoSalidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadProductoSalidaResult" type="tns:ArrayOfDProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadProductoSalidaByBodega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_bodega" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadProductoSalidaByBodegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadProductoSalidaByBodegaResult" type="tns:ArrayOfDProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarSoapIn">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="BuscarSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAllSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAll" />
  </wsdl:message>
  <wsdl:message name="BuscarAllSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAllResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertWithValuesSoapIn">
    <wsdl:part name="parameters" element="tns:InsertWithValues" />
  </wsdl:message>
  <wsdl:message name="InsertWithValuesSoapOut">
    <wsdl:part name="parameters" element="tns:InsertWithValuesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWithValuesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWithValues" />
  </wsdl:message>
  <wsdl:message name="UpdateWithValuesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWithValuesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoDifferenciaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoDifferencia" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoDifferenciaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoDifferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoDifferenciaByBodegaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoDifferenciaByBodega" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoDifferenciaByBodegaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoDifferenciaByBodegaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoEntradaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoEntrada" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoEntradaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoEntradaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoEntradaByBodegaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoEntradaByBodega" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoEntradaByBodegaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoEntradaByBodegaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoSalidaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoSalida" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoSalidaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoSalidaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoSalidaByBodegaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoSalidaByBodega" />
  </wsdl:message>
  <wsdl:message name="GetCantidadProductoSalidaByBodegaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadProductoSalidaByBodegaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceProductoSoap">
    <wsdl:operation name="Buscar">
      <wsdl:input message="tns:BuscarSoapIn" />
      <wsdl:output message="tns:BuscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAll">
      <wsdl:input message="tns:BuscarAllSoapIn" />
      <wsdl:output message="tns:BuscarAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertWithValues">
      <wsdl:input message="tns:InsertWithValuesSoapIn" />
      <wsdl:output message="tns:InsertWithValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWithValues">
      <wsdl:input message="tns:UpdateWithValuesSoapIn" />
      <wsdl:output message="tns:UpdateWithValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoDifferencia">
      <wsdl:input message="tns:GetCantidadProductoDifferenciaSoapIn" />
      <wsdl:output message="tns:GetCantidadProductoDifferenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoDifferenciaByBodega">
      <wsdl:input message="tns:GetCantidadProductoDifferenciaByBodegaSoapIn" />
      <wsdl:output message="tns:GetCantidadProductoDifferenciaByBodegaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoEntrada">
      <wsdl:input message="tns:GetCantidadProductoEntradaSoapIn" />
      <wsdl:output message="tns:GetCantidadProductoEntradaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoEntradaByBodega">
      <wsdl:input message="tns:GetCantidadProductoEntradaByBodegaSoapIn" />
      <wsdl:output message="tns:GetCantidadProductoEntradaByBodegaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoSalida">
      <wsdl:input message="tns:GetCantidadProductoSalidaSoapIn" />
      <wsdl:output message="tns:GetCantidadProductoSalidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoSalidaByBodega">
      <wsdl:input message="tns:GetCantidadProductoSalidaByBodegaSoapIn" />
      <wsdl:output message="tns:GetCantidadProductoSalidaByBodegaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceProductoSoap" type="tns:WebServiceProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAll">
      <soap:operation soapAction="http://tempuri.org/BuscarAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWithValues">
      <soap:operation soapAction="http://tempuri.org/InsertWithValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWithValues">
      <soap:operation soapAction="http://tempuri.org/UpdateWithValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoDifferencia">
      <soap:operation soapAction="http://tempuri.org/GetCantidadProductoDifferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoDifferenciaByBodega">
      <soap:operation soapAction="http://tempuri.org/GetCantidadProductoDifferenciaByBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoEntrada">
      <soap:operation soapAction="http://tempuri.org/GetCantidadProductoEntrada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoEntradaByBodega">
      <soap:operation soapAction="http://tempuri.org/GetCantidadProductoEntradaByBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoSalida">
      <soap:operation soapAction="http://tempuri.org/GetCantidadProductoSalida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoSalidaByBodega">
      <soap:operation soapAction="http://tempuri.org/GetCantidadProductoSalidaByBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceProductoSoap12" type="tns:WebServiceProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar">
      <soap12:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAll">
      <soap12:operation soapAction="http://tempuri.org/BuscarAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWithValues">
      <soap12:operation soapAction="http://tempuri.org/InsertWithValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWithValues">
      <soap12:operation soapAction="http://tempuri.org/UpdateWithValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoDifferencia">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadProductoDifferencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoDifferenciaByBodega">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadProductoDifferenciaByBodega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoEntrada">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadProductoEntrada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoEntradaByBodega">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadProductoEntradaByBodega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoSalida">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadProductoSalida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadProductoSalidaByBodega">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadProductoSalidaByBodega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceProducto">
    <wsdl:port name="WebServiceProductoSoap" binding="tns:WebServiceProductoSoap">
      <soap:address location="https://localhost:44368/WebServiceProducto.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceProductoSoap12" binding="tns:WebServiceProductoSoap12">
      <soap12:address location="https://localhost:44368/WebServiceProducto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>