GUIEscritorioSGA/Connected Services/ServiceTipoProducto/WebServiceTipoProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Buscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarResult" type="tns:MDTipoProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MDTipoProducto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoProducto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreTipo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarAll">
        <s:complexType />
      </s:element>
      <s:element name="BuscarAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAllResult" type="tns:ArrayOfMDTipoProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMDTipoProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MDTipoProducto" nillable="true" type="tns:MDTipoProducto" />
        </s:sequence>
      </s:complexType>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWithValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWithValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertWithValuesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuevoTipoProducto" type="tns:MDTipoProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWithValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWithValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateWithValuesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editableTipoProducto" type="tns:MDTipoProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadTipoProductoActual">
        <s:complexType />
      </s:element>
      <s:element name="GetCantidadTipoProductoActualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadTipoProductoActualResult" type="tns:ArrayOfDTipoProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTipoProductoCantidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTipoProductoCantidad" nillable="true" type="tns:DTipoProductoCantidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTipoProductoCantidad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_tipo_producto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCantidadTipoProductoActualByBodega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_bodega" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadTipoProductoActualByBodegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadTipoProductoActualByBodegaResult" type="tns:ArrayOfDTipoProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadTipoProductoEntrada">
        <s:complexType />
      </s:element>
      <s:element name="GetCantidadTipoProductoEntradaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadTipoProductoEntradaResult" type="tns:ArrayOfDTipoProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadTipoProductoEntradaByBodega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_bodega" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadTipoProductoEntradaByBodegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadTipoProductoEntradaByBodegaResult" type="tns:ArrayOfDTipoProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadTipoProductoSalida">
        <s:complexType />
      </s:element>
      <s:element name="GetCantidadTipoProductoSalidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadTipoProductoSalidaResult" type="tns:ArrayOfDTipoProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadTipoProductoSalidaByBodega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_bodega" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCantidadTipoProductoSalidaByBodegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCantidadTipoProductoSalidaByBodegaResult" type="tns:ArrayOfDTipoProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarSoapIn">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="BuscarSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAllSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAll" />
  </wsdl:message>
  <wsdl:message name="BuscarAllSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAllResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertWithValuesSoapIn">
    <wsdl:part name="parameters" element="tns:InsertWithValues" />
  </wsdl:message>
  <wsdl:message name="InsertWithValuesSoapOut">
    <wsdl:part name="parameters" element="tns:InsertWithValuesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWithValuesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWithValues" />
  </wsdl:message>
  <wsdl:message name="UpdateWithValuesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWithValuesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoActualSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoActual" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoActualSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoActualResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoActualByBodegaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoActualByBodega" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoActualByBodegaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoActualByBodegaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoEntradaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoEntrada" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoEntradaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoEntradaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoEntradaByBodegaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoEntradaByBodega" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoEntradaByBodegaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoEntradaByBodegaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoSalidaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoSalida" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoSalidaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoSalidaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoSalidaByBodegaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoSalidaByBodega" />
  </wsdl:message>
  <wsdl:message name="GetCantidadTipoProductoSalidaByBodegaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCantidadTipoProductoSalidaByBodegaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTipoProductoSoap">
    <wsdl:operation name="Buscar">
      <wsdl:input message="tns:BuscarSoapIn" />
      <wsdl:output message="tns:BuscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAll">
      <wsdl:input message="tns:BuscarAllSoapIn" />
      <wsdl:output message="tns:BuscarAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertWithValues">
      <wsdl:input message="tns:InsertWithValuesSoapIn" />
      <wsdl:output message="tns:InsertWithValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWithValues">
      <wsdl:input message="tns:UpdateWithValuesSoapIn" />
      <wsdl:output message="tns:UpdateWithValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoActual">
      <wsdl:input message="tns:GetCantidadTipoProductoActualSoapIn" />
      <wsdl:output message="tns:GetCantidadTipoProductoActualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoActualByBodega">
      <wsdl:input message="tns:GetCantidadTipoProductoActualByBodegaSoapIn" />
      <wsdl:output message="tns:GetCantidadTipoProductoActualByBodegaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoEntrada">
      <wsdl:input message="tns:GetCantidadTipoProductoEntradaSoapIn" />
      <wsdl:output message="tns:GetCantidadTipoProductoEntradaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoEntradaByBodega">
      <wsdl:input message="tns:GetCantidadTipoProductoEntradaByBodegaSoapIn" />
      <wsdl:output message="tns:GetCantidadTipoProductoEntradaByBodegaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoSalida">
      <wsdl:input message="tns:GetCantidadTipoProductoSalidaSoapIn" />
      <wsdl:output message="tns:GetCantidadTipoProductoSalidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoSalidaByBodega">
      <wsdl:input message="tns:GetCantidadTipoProductoSalidaByBodegaSoapIn" />
      <wsdl:output message="tns:GetCantidadTipoProductoSalidaByBodegaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTipoProductoSoap" type="tns:WebServiceTipoProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAll">
      <soap:operation soapAction="http://tempuri.org/BuscarAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWithValues">
      <soap:operation soapAction="http://tempuri.org/InsertWithValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWithValues">
      <soap:operation soapAction="http://tempuri.org/UpdateWithValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoActual">
      <soap:operation soapAction="http://tempuri.org/GetCantidadTipoProductoActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoActualByBodega">
      <soap:operation soapAction="http://tempuri.org/GetCantidadTipoProductoActualByBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoEntrada">
      <soap:operation soapAction="http://tempuri.org/GetCantidadTipoProductoEntrada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoEntradaByBodega">
      <soap:operation soapAction="http://tempuri.org/GetCantidadTipoProductoEntradaByBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoSalida">
      <soap:operation soapAction="http://tempuri.org/GetCantidadTipoProductoSalida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoSalidaByBodega">
      <soap:operation soapAction="http://tempuri.org/GetCantidadTipoProductoSalidaByBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTipoProductoSoap12" type="tns:WebServiceTipoProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar">
      <soap12:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAll">
      <soap12:operation soapAction="http://tempuri.org/BuscarAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWithValues">
      <soap12:operation soapAction="http://tempuri.org/InsertWithValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWithValues">
      <soap12:operation soapAction="http://tempuri.org/UpdateWithValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoActual">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadTipoProductoActual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoActualByBodega">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadTipoProductoActualByBodega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoEntrada">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadTipoProductoEntrada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoEntradaByBodega">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadTipoProductoEntradaByBodega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoSalida">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadTipoProductoSalida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCantidadTipoProductoSalidaByBodega">
      <soap12:operation soapAction="http://tempuri.org/GetCantidadTipoProductoSalidaByBodega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTipoProducto">
    <wsdl:port name="WebServiceTipoProductoSoap" binding="tns:WebServiceTipoProductoSoap">
      <soap:address location="https://localhost:44368/WebServiceTipoProducto.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTipoProductoSoap12" binding="tns:WebServiceTipoProductoSoap12">
      <soap12:address location="https://localhost:44368/WebServiceTipoProducto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>