GUIEscritorioSGA/Connected Services/ServiceSalida/WebServiceSalida.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_sucursal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_bodega" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rut_empleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listaProductoCantidad" type="tns:ArrayOfDProductoCantidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDProductoCantidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DProductoCantidad" nillable="true" type="tns:DProductoCantidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DProductoCantidad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarSoapIn">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="GuardarSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSalidaSoap">
    <wsdl:operation name="Guardar">
      <wsdl:input message="tns:GuardarSoapIn" />
      <wsdl:output message="tns:GuardarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSalidaSoap" type="tns:WebServiceSalidaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSalidaSoap12" type="tns:WebServiceSalidaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap12:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSalida">
    <wsdl:port name="WebServiceSalidaSoap" binding="tns:WebServiceSalidaSoap">
      <soap:address location="https://localhost:44368/WebServiceSalida.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSalidaSoap12" binding="tns:WebServiceSalidaSoap12">
      <soap12:address location="https://localhost:44368/WebServiceSalida.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>